# Root dependencies
node_modules/

# Backend dependencies & secrets
backend/node_modules/
backend/.env

# Frontend dependencies & build artifacts & secrets
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.sandbox/
frontend/.env

# Development / IDE local settings
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

/backend/dump.rdb